<!DOCTYPE html>
<html>
<head>
    <title>Pawns app</title>
    <link type="text/css" rel="stylesheet" href="/styles/style.css"/>
</head>
<body>
<img src="/images/pawn-small.jpg"/>
<h2 style="font-size: 8px; color: green">Hello World!</h2>
<strong>Pawns board:</strong>

<table>
    <tr>
        <td class="black">3a</td>
        <td class="white">3b</td>
        <td class="black">3c</td>
    </tr>
    <tr>
        <td class="white">2a</td>
        <td class="black">2b</td>
        <td class="white">2c</td>
    </tr>
    <tr>
        <td class="black">1a</td>
        <td class="white">1b</td>
        <td class="black">1c</td>
    </tr>

</table>

<h3 style="font-size: 16px; font-family: Arial">How to play:</h3>
<ol style="background-color: yellow">
    <li>You have <strong>board 3x3</strong>;</li>
    <li>Two players can play one with white another with black;</li>
    <li>Each player has 3 pawns;</li>
    <li>Pawn moves and fights like in <em>chess</em>;</li>
    <li>The player who can not complete next move loses the game.</li>
</ol>
<p>
<a href="https://github.com/nderachits/pawns">Sources</a>
</p>
</body>
</html>