<!DOCTYPE html>
<html>
<head>
    <title>Pawns app</title>
    <link type="text/css" rel="stylesheet" href="/styles/style.css?version=0.2"/>
    <script src="/js/scripts.js?version=0.2"/>
</head>
<body>

<div class="header clearfix">
    <img class="header-logo" src="/images/pawn-small.jpg"/>
    <div class="header-text" >Pawns game</div>
</div>

<div class="gamearea">

    <div class="gamefield" >
        <table>
            <tr>
                <td id="cell0" class="black" ondrop="drop(event)" ondragover="allowDrop(event)">3a</td>
                <td id="cell1" class="white" ondrop="drop(event)" ondragover="allowDrop(event)">3b</td>
                <td id="cell2" class="black" ondrop="drop(event)" ondragover="allowDrop(event)">3c</td>
            </tr>
            <tr>
                <td id="cell3" class="white" ondrop="drop(event)" ondragover="allowDrop(event)">2a</td>
                <td id="cell4" class="black" ondrop="drop(event)" ondragover="allowDrop(event)">2b</td>
                <td id="cell5" class="white" ondrop="drop(event)" ondragover="allowDrop(event)">2c</td>
            </tr>
            <tr>
                <td id="cell6" class="black" ondrop="drop(event)" ondragover="allowDrop(event)">1a</td>
                <td id="cell7" class="white" ondrop="drop(event)" ondragover="allowDrop(event)">1b</td>
                <td id="cell8" class="black" ondrop="drop(event)" ondragover="allowDrop(event)">1c</td>
            </tr>

        </table>

        <img id="pawn0" class="pawn" src="/images/pawn-black.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
        <img id="pawn1" class="pawn" src="/images/pawn-black.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
        <img id="pawn2" class="pawn" src="/images/pawn-black.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
        <img id="pawn3" class="pawn" src="/images/pawn-white.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
        <img id="pawn4" class="pawn" src="/images/pawn-white.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
        <img id="pawn5" class="pawn" src="/images/pawn-white.png"
             draggable="true" ondragstart="drag(event)"
             ondragover="allowDropToImage(event)" ondrop="dropToImage(event)"/>
    </div>
</div>

<div class="rules">
<h3 >How to play:</h3>
<ol>
    <li>You have <strong>board 3x3</strong>;</li>
    <li>Two players can play one with white another with black;</li>
    <li>Each player has 3 pawns;</li>
    <li>Pawn moves and fights like in <em>chess</em>;</li>
    <li>The player who can not complete next move loses the game.</li>
</ol>

</div>

<div class="footer">
<p>
<a href="https://github.com/nderachits/pawns">Sources</a>
</p>
</div>
</body>
</html>