<!DOCTYPE html>
<html>
<head>
    <title>Pawns app</title>
    <link type="text/css" rel="stylesheet" href="/styles/style.css"/>
</head>
<body>

<div class="header clearfix">
    <img class="header-logo" src="/images/pawn-small.jpg"/>
    <div class="header-text" >Pawns game</div>
</div>

<div class="gamearea">

    <div class="gamefield" >
        <table>
            <tr>
                <td class="black">3a</td>
                <td class="white">3b</td>
                <td class="black">3c</td>
            </tr>
            <tr>
                <td class="white">2a</td>
                <td class="black">2b</td>
                <td class="white">2c</td>
            </tr>
            <tr>
                <td class="black">1a</td>
                <td class="white">1b</td>
                <td class="black">1c</td>
            </tr>

        </table>

        <img id="pawn1" class="pawn" src="/images/pawn-black.png"/>
        <img id="pawn2" class="pawn" src="/images/pawn-black.png"/>
        <img id="pawn3" class="pawn" src="/images/pawn-black.png"/>
        <img id="pawn4" class="pawn" src="/images/pawn-white.png"/>
        <img id="pawn5" class="pawn" src="/images/pawn-white.png"/>
        <img id="pawn6" class="pawn" src="/images/pawn-white.png"/>
    </div>
</div>

<div class="rules">
<h3 >How to play:</h3>
<ol>
    <li>You have <strong>board 3x3</strong>;</li>
    <li>Two players can play one with white another with black;</li>
    <li>Each player has 3 pawns;</li>
    <li>Pawn moves and fights like in <em>chess</em>;</li>
    <li>The player who can not complete next move loses the game.</li>
</ol>

</div>

<div class="footer">
<p>
<a href="https://github.com/nderachits/pawns">Sources</a>
</p>
</div>
</body>
</html>