<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pawns home</title>
</head>
<body>
<p>join:</p>
<p th:each="game : ${games}">
<a th:href="@{'/game/'+${game}}" th:text="|game id: ${game}|">game1</a>
</p>
<form action="/new" method="post">
<input type="submit" value="New game" />
</form>

<a th:href="@{/register}">Sign up</a>
<a th:href="@{/login}">Sign in</a>
<h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>