<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pawns home</title>
</head>
<body>
<p>games:</p>
<div th:each="game : ${games}">
<a th:href="@{'/game/'+${game}}" th:text="|game id: ${game}|">game1</a>
</div>
<form th:action="@{/new}" method="post">
<input type="submit" value="New game" />
</form>
<form th:action="@{/newvscomp}" method="post">
    <input type="radio" name="color" value="white" checked="checked"/>white
    <input type="radio" name="color" value="black"/>black
<input type="submit" value="New vs Computer" />
</form>
<form th:action="@{/newcompvscomp}" method="post">
<input type="submit" value="New Computer vs Computer" />
</form>
<p>
<a th:unless="${#httpServletRequest.remoteUser}" th:href="@{/login}">Sign in</a>
<a th:unless="${#httpServletRequest.remoteUser}" th:href="@{/register}">Sign up</a>
<div th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</div>
<form th:if="${#httpServletRequest.remoteUser}" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</p>
</body>
</html>