

* {
    /*border: 1px dashed skyblue;*/
}

body {
    width: 700px;
    margin: auto;
}

.gamefield table {
    /*background-color: gray;*/
    border-collapse: collapse;
    margin: auto;
}

.gamefield td {
    width: 53px;
    height: 53px;
    vertical-align: top;
    font-size: 12px;
    color: black;
    padding: 0px;
}

.gamefield thead td {
    height: 12px;
}


.black {
    background-color: #ac734b;
}

.white {
    background-color: #f0d3a4;
}

.header {
    border: 2px solid #ac734b;
    border-radius: 4px;
    margin: 5px;
}

.header-logo {
    float: left;
}

.header-text {
    float: left;
    vertical-align: middle;
    font-size: 64px;
    padding: 30px;
    color: dimgrey;
}

.gamearea {
    background-color: lightgrey;
    border: 2px solid #ac734b;
    border-radius: 4px;
    margin: 5px;
}

.gamefield {
    width: 159px;
    height: 159px;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pawn {
    position: absolute;
}

.pawnselected {
    opacity: 0.3;
}

#pawn0 {
    top: 0;
    left: 0;
}

#pawn1 {
    top: 0;
    left: 53px;
}

#pawn2 {
    top: 0;
    left: 106px;
}

#pawn3 {
    top: 106px;
    left: 0px;
}

#pawn4 {
    top: 106px;
    left: 53px;
}

#pawn5 {
    top: 106px;
    left: 106px;
}



.rules {
    border: 2px solid #ac734b;
    border-radius: 4px;
    margin: 5px;
}

.rules h3 {
    font-size: 16px;
    margin: 10px;
}

.footer {

}


.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}